<div>
    <table>
        <thead>
            <tr>
                <th>Name of subject</th>
            </tr>
            <tr>
                <th>Date</th>
            </tr>
            <tr>
                <th>
                    Professor
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subject of subjects">
                <td>{{subject.subject.name}}</td>
                <td></td>
                <td>{{subject.subject.professor.firstname}} {{subject.subject.professor.lastname}}</td>
            </tr>
        </tbody>
    </table>
</div>
